
.hero__title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.col{
    align-items: center;
}

#filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.icons__arrow--right {
    transform: rotate(180deg);
}


@media screen and (max-width: 800px) {
    .hero__title {
        font-size: 1.5em;
    }
}