.grid {
    display: grid;
    grid-template-areas: 
    "movie-poster movie-content"
    "movie-poster movie-content"
    "movie-poster movie-content"
    ;
    gap: 3rem;
}

.row {
    gap: 2rem;
}

.details__popularity {
    margin-left: 2rem;
}

.movie-list__picture {
    grid-area: movie-poster;
    align-self: center;
}

.picture__img {
    width: 100%;
    scale: clamp(1.2, 60%, 1.4);
    border-radius: 20px;
}

.movie-list__section {
    grid-area: movie-content;
}

/* h1 {
    font-size: 1.5em;
} */

/* h2 {
    font-size: 1em;
} */
p {
    font-size: .5em
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-areas: 
        "movie-poster"
        "movie-poster"
        "movie-content"
        ;
        gap: 0;
    }
}