@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* colors */
:root {
  --mainBg: #16302D;
  --secondaryColor: #85D2B0;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--secondaryColor);
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;

}
 
a {
  list-style: none;
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.icons {
  width: 0;
  height: 0;
  height: 1rem;
  width: 1rem;
  scale: 2;
}